body {
    /* color: aliceblue; */
}

header {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-black-theme-bar-poster-background-image_133434.jpg);
    background-size: cover;
    border-radius: 0 0 0 70px;
}

div.container {
    padding: 50px 0;
}

div.container h1 {
    padding: 10px 0;
    margin-top: 80px;
    color: white;
}

header nav.navbar {
    background-color: rgba(0,0,0,0);
    padding: 20px;
    font-size: 30px;
}

header button.button {
    margin: 20px 10px;
    background: rgba(0,0,0,0);
    color: white;
}

#div__phones {
    background-color: darkslateblue;
    border-radius: 0px 70px 0 70px;
    margin-top: 100px;
}

#div__phones figure {
    margin-top: -185px;
    padding-bottom: 30px;
}
